@font-face {
  font-family: Nexa;
  src: url(../assets/fonts/Fontfabric-NexaRegular.otf) format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Nexa;
  src: url(../assets/fonts/Fontfabric-NexaBold.otf) format('opentype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Nexa;
  src: url(../assets/fonts/Fontfabric-NexaBlack.otf) format('opentype');
  font-weight: 800;
  font-display: swap;
}
