.textfield {
  border-radius: 0.3125rem;
  border: 1px solid #6f7f8f;
  padding: 0.75rem 0.9375rem;

  &::placeholder {
    color: #6f7f8f;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: -0.0244rem;
  }
}

.form-group-container {
  display: flex;
  gap: 1.25rem;
}

.form-group {
  flex: 1 1 auto;
  position: relative;

  &_m {
    margin-bottom: 0;
  }
  &__label {
    font-weight: bold;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    margin-bottom: 0.625rem;
    display: flex;
    &--m {
      margin-top: 1.25rem;
    }
  }

  &__error {
    position: absolute;
    left: 0;
    top: 4.5625rem;
    font-size: 0.6875rem;
    color: rgb(199, 22, 22);
  }

  &__error-input {
    top: 4.5625rem;
  }

  &__error-check {
    top: 1.6875rem;
  }

  input {
    width: 100%;
    padding: 0.625rem 1.25rem;
    background: #fcfcfc;
    border: 1px solid #6e7f8f;
    border-radius: 5px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #121212;
    box-shadow: none;

    &.error {
      border-color: red;
    }
  }
}
