.txt-w-14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
}

.grey-15 {
  color: #6f7f8f;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

.grey-15-700 {
  color: #6f7f8f;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.txt-small-bold {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 142%;
  letter-spacing: 0.01em;
}
.txt-small-black {
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 142%;
  letter-spacing: 0.01em;
}
.txt-small-bold-underlined {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 142%;
  letter-spacing: 0.01em;
  text-decoration: underline;
}
.txt-small {
  font-size: 0.875rem;
  line-height: 142%;
}

.txt-green {
  color: var(--main-green);
  font-size: 0.8125rem;
  letter-spacing: -0.00813rem;
}

.txt-medium {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.heading-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.01em;
}
