.pricing-calculator {
  padding-top: 6.3125rem;
  padding-bottom: 3rem;
  &__container {
    max-width: 58.875rem;
    margin: 0 auto;
    padding: 0px 0.9375rem;
  }

  .btns-calculator {
    margin-top: 2rem;
    padding-bottom: 2.125rem;
    border-bottom: 1px solid #eef0f3;
    &__title {
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: -0.2px;
      margin-bottom: 1.125rem;
    }

    &__btn {
      display: inline-flex;
      font-size: 0.875rem;
      letter-spacing: -0.14px;
      border-radius: 0.5625rem;
      padding: 0.125rem;
      border: 1px solid #eef0f3;

      &-common {
        display: flex;
        gap: 8px;
        align-items: center;
        span {
          color: #51ce7b;
          padding: 2px 4px;
          border-radius: 6px;
          font-size: 0.625rem;
        }
      }
    }

    &__discount {
      &.white {
        color: #fff;
      }
      span {
        background-color: rgba(81, 206, 123, 0.1);
      }
    }

    &__second {
      span {
        background-color: #f7f8f9;
      }
    }
  }
}

.pricing-calculator-discount {
  color: #51ce7b;
  padding: 0.125rem 0.25rem;
  border-radius: 0.375rem;
  font-size: 0.625rem;
  background-color: #f7f8f9;
}
