.resource-detail {
  &__container {
    display: flex;
  }

  &__main {
    flex: 1 1 auto;
  }
}

.main-resource {
  padding: 1.75rem 2.25rem 5.25rem 2.25rem;
  height: 100%;

  &__top {
    gap: 1.4rem;
    padding-bottom: 2.38rem;
    border-bottom: 1px solid #eef0f3;
    @media (max-width: 900px) {
      padding-bottom: 1.5rem;
    }
  }
}

.navigatoin-resource {
  margin-bottom: 1.5rem;
  &__location {
    display: flex;
    align-items: center;
    gap: 0.63rem;
    margin-left: 1.8rem;

    p {
      line-height: 1rem;
      font-size: 0.75rem;
    }
    &-previous {
      color: var(--main-grey, #6f7f8f);
    }
    &-current {
      font-weight: 700;
    }
  }

  &__back-link {
    gap: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    svg {
      width: 1rem;
      height: 1rem;
      path {
        fill: var(--main-black);
      }
    }
  }
}

.card-resource {
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;
  @media (max-width: 900px) {
    gap: 0.7rem;
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    @media (max-width: 900px) {
      gap: 0.4rem;
    }
  }
  &__demo {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    line-height: 1.25rem;
  }
  &__img {
    height: 100%;
  }
  img {
    display: inline-block;
    object-fit: cover;
    max-width: 7.3rem;
    height: 100%;
    border-radius: 0.8rem;
  }
  &__open-link {
    border-radius: 1.25rem;
    padding: 0.4375rem 1.5rem 0.3125rem 1.5rem;
    flex: 0 0 5.625rem;
    background: var(--main-green);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.00875rem;
    color: var(--main-white);
  }
  &__text {
    color: var(--main-grey);
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 1.25rem;
    max-width: 32.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
    -webkit-line-clamp: 2;
    max-height: 2rem;
  }
  &__title {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    @media (max-width: 900px) {
      font-size: 1rem;
    }
  }
}
.card-resource-upsell {
  border-radius: 0.8125rem;
  border: 1px solid var(--main-light-grey, #eef0f3);
  background: var(--main-light-grey-50, #f7f8f9);
  padding: 0.7rem 1.25rem 0.7rem 0.7rem;
  display: flex;
  gap: 1.5rem;
  @media (max-width: 1300px) {
    flex-direction: column;
    align-items: start;
    padding-right: 0.7rem;
    gap: 1rem;
  }

  &__container {
    gap: 1.3rem;
    display: flex;
    align-items: center;
    img {
      object-fit: cover;
      max-width: 5rem;
      border-radius: 0.8rem;
      height: 4rem;
      @media (max-width: 900px) {
        display: none;
      }
    }
  }
  &__info {
    flex: 1;
    max-width: 17rem;
  }
  &__learn-more {
    border-radius: 1.25rem;
    background: var(--main-black, #121212);
    padding: 0.4375rem 1.5rem 0.3125rem 1.5rem;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.00875rem;
    white-space: nowrap;
  }
  &__price {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.00875rem;
    white-space: nowrap;
  }
  &__right {
    gap: 1.19rem;
    @media (max-width: 1100px) {
      gap: 0.7rem;
    }
  }
  &__text {
    color: var(--main-grey);
    font-size: 0.75rem;
    line-height: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
    max-height: 2rem;
    @media (max-width: 1100px) {
      font-size: 0.7rem;
    }
  }
  &__title {
    margin-bottom: 0.13rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    @media (max-width: 1100px) {
      font-size: 1rem;
    }
  }
}

.description-resource {
  margin-top: 1.75rem;
  &__title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: -0.0225rem;
  }

  &__text {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    color: var(--main-grey);
    font-size: 0.875rem;
    line-height: 1.5rem;
    max-width: 38rem;
  }

  &__values {
    li {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.25rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      &::before {
        content: "";
        display: inline-block;
        background-color: #121212;
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
      }
      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }
  }
}

.table-resource {
  width: 100%;
  border-collapse: collapse;

  &__container {
    border-radius: 0.75rem;
    overflow: hidden;
    margin-top: 4rem;
    border: 1px solid var(--main-light-grey, #eef0f3);
  }

  &__colored {
    background: #ebffeb;
  }

  td,
  th {
    border: 1px solid var(--main-light-grey, #eef0f3);
  }

  th {
    padding: 1rem 1.5rem;
    text-align: left;
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1rem;
    border-top: none;
    &:first-child {
      border-left: none;
    }
    @media (max-width: 800px) {
      padding: 0.6rem 1rem;
    }
  }

  td {
    padding: 1rem 0.75rem;
    color: var(--main-grey);
    text-align: left;
    font-size: 0.8125rem;
    line-height: 1rem;
    &:first-child {
      color: var(--main-black);
      padding: 1rem 1.5rem;
      font-weight: 700;
      border-left: none;
      @media (max-width: 800px) {
        padding: 0.6rem 1rem;
      }
    }
    &:last-child {
      border-right: none;
    }
    @media (max-width: 800px) {
      padding: 0.6rem 0.7rem;
    }
  }

  tr:last-child td {
    border-bottom: none;
  }

  tr:last-child td:first-child {
    border: none;
  }
  tr:last-child td:last-child {
    border: none;
  }
}

.info-resource {
  max-width: 60rem;

  &__bottom {
    margin-top: 1.25rem;
  }

  &__premium-color {
    gap: 0.75rem;
    color: #000;
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1rem;
    span {
      width: 1.8125rem;
      height: 1.25rem;
      display: inline-block;
      border-radius: 0.25rem;
      border: 1px solid #eef0f3;
      background: #ebffeb;
    }
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: 2.8125rem;
    font-weight: 700;
    line-height: 1.25rem;
    height: 1.5rem;
    & input[type="checkbox"] {
      display: none;
    }
    & .switch {
      position: absolute;
      cursor: pointer;
      background-color: #bdc5ce;
      border-radius: 25px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: background-color 0.2s ease;
    }
    & .switch::before {
      position: absolute;
      content: "";
      left: 2px;
      top: 3px;
      height: 1.2rem;
      width: 1.2rem;
      background-color: #fff;
      border-radius: 50%;
      transition: transform 0.3s ease;
    }
    & input[type="checkbox"]:checked + .switch::before {
      transform: translateX(21px);
    }
    & input[type="checkbox"]:checked + .switch {
      background-color: #51ce7b;
    }
  }
}

.examples-resource {
  &__container {
    max-width: 60rem;
    background: #fdfdfd;
    border-radius: 1.5625rem;
    border: 1px solid #eef0f3;
  }
  margin-top: 4.12rem;
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1.25rem;
  }

  &__slider {
    width: 100%;

    .swiper-button-next,
    .swiper-button-prev {
      background-color: #fff;
      border: 1px solid #eef0f3;
      width: 3.25rem;
      height: 3.25rem;
      border-radius: 50%;
      &:after {
        color: #6f7f8f !important;
        font-size: 20px !important;
      }
    }

    .swiper-slide {
      // padding: 1.5rem;
      width: 100% !important;
      height: 100% !important;
    }

    .swiper {
    }

    .swiper-zoom-container {
      img {
        width: 100%;
        height: 100%;
        max-width: 33rem;
        object-fit: cover;
      }
    }
  }
}
