.success-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
  }

  &__container {
    padding: 1rem;
    text-align: center;
    max-width: 34rem;
    margin: 0 auto;
  }

  &__title {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 128%;
  }

  &__subtitle {
    color: var(--main-grey);
    font-size: 1rem;
    line-height: 125%;
    letter-spacing: -0.01em;
    margin-top: 1.25rem;
  }

  &__link {
    height: 3.5rem;
    margin: 2rem auto 0 auto;
    max-width: 18rem;
  }
}
