.auth-left {
  min-height: 100vh;
  flex: 0 1 25%;
  background-image: url('../../assets/img/auth/authBg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 1.25rem 3.3125rem 2.8125rem;
  p {
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 2.1875rem;
    color: #fff;
    @media (max-width: 100rem) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    @media (max-width: 78.125rem) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  img {
    max-width: 10.3125rem;
    height: 2.8125rem;
  }
  @media (max-width: 81.25rem) {
    flex: 0 1 30%;
  }
  @media (max-width: 68.75rem) {
    padding: 0.9375rem 0.9375rem 0.8125rem 0.9375rem;
  }
}
