.pricing-calculator-selector {
  margin-top: 2rem;
  padding-bottom: 2.125rem;
  border-bottom: 1px solid #eef0f3;
  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -0.2px;
    margin-bottom: 1.125rem;
  }
}

.switch-selector {
  padding: 0.13rem;
  border-radius: 0.5625rem;
  border: 1px solid #eef0f3;
  display: inline-flex;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: calc(50% - 2px);
    background-color: #121212;
    border-radius: 0.5625rem;
    z-index: -1;
    height: calc(100% - 2px);
    top: 1px;
    transition: all 0.2s linear;
  }
  &-switched {
    &::after {
      transform: translateX(100%);
    }
  }
  width: 15.8rem;

  &__discount {
    padding: 0.125rem 0.25rem;
    border-radius: 0.375rem;
    background: rgba(81, 206, 123, 0.1);
    color: var(--main-green);
    margin-left: 0.37rem;
    font-size: 0.625rem;
    line-height: 0.75rem;
    letter-spacing: -0.00625rem;
  }
  &-option {
    position: relative;
    font-size: 0.875rem;
    line-height: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    flex: 0 1 50%;
    letter-spacing: -0.00875rem;
    transition: color 0.2s ease;
    &--active {
      color: #fff;
    }
  }
}
